<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>搜索</title>
</head>
<body>
	<div class="button" ng-class="quanguo">
		<div class="left" id="left" ng-click="btn()">
			<span>全国<em></em></span>
		</div>
		<div class="right"> 
			<input class="inputer" type="text" placeholder="搜索职位或公司"><i></i>
		</div>
	</div>
	<div class="City" ng-class="chengshi">
		<em ng-click="em()"></em>
		<h6>热门城市</h6>
		<table class="table">
			<tr>
				<td>北京</td>
				<td>上海</td>
				<td>广州</td>
			</tr>
			<tr>
				<td>深圳</td>
				<td>成都</td>
				<td>杭州</td>
			</tr>
		</table>
		<h6>ABCDEF</h6>
		<table class="table">
			<tr>
				<td>北京</td>
				<td>上海</td>
				<td>广州</td>
			</tr>
			<tr>
				<td>深圳</td>
				<td>成都</td>
				<td>杭州</td>
			</tr>
		</table>
		<h6>GHIJ</h6>
		<table class="table">
			<tr>
				<td>北京</td>
				<td>上海</td>
				<td>广州</td>
			</tr>
			<tr>
				<td>深圳</td>
				<td>成都</td>
				<td>杭州</td>
			</tr>
		</table>
		<h6>KLMN</h6>
		<table class="table">
			<tr>
				<td>北京</td>
				<td>上海</td>
				<td>广州</td>
			</tr>
			<tr>
				<td>深圳</td>
				<td>成都</td>
				<td>杭州</td>
			</tr>
		</table>
		<h6>OPQR</h6>
		<table class="table">
			<tr>
				<td>北京</td>
				<td>上海</td>
				<td>广州</td>
			</tr>
			<tr>
				<td>深圳</td>
				<td>成都</td>
				<td>杭州</td>
			</tr>
		</table>
		<h6>STUV</h6>
		<table class="table">
			<tr>
				<td>北京</td>
				<td>上海</td>
				<td>广州</td>
			</tr>
			<tr>
				<td>深圳</td>
				<td>成都</td>
				<td>杭州</td>
			</tr>
		</table>
		<h6>WXYZ</h6>
		<table class="table">
			<tr>
				<td>北京</td>
				<td>上海</td>
				<td>广州</td>
			</tr>
			<tr>
				<td>深圳</td>
				<td>成都</td>
				<td>杭州</td>
			</tr>
		</table>
	</div>
</body>
</html>